body {
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
}

.header {
    display: flex;
    align-items: center;
}

h1 {
    margin-right: auto;
}

a {
    margin: 0 8px;
}

.awesome {
    display: flex;
    align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

h5 {
    display: flex;
    justify-content: right;
}

.call {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}